<% provide(:title, "Help") %>

    <h1>Help</h1>
    <p>
      Get help on the Ruby on Rails Tutorial at the
      <a href="http://www.railstutorial.org/help">Rails Tutorial help
      section</a>.
      To get help on this web app, contact with me at
      <a href="https://www.facebook.com/do.x.tho.9"> my personal facebook page</a>.
    </p>
 