<div id = "like_form" >
<% if current_user.flagged?(micropost) %>
    <%= render 'microposts/unlike.html.erb', :micropost => micropost %>
   
    <% else %>
    <%= render 'microposts/like.html.erb', :micropost => micropost %>
    
    <% end %>
    </div>