<footer class="footer">
  <small>
    The <a href="http://www.facebook.com/groups/1586353434986979/">Sky Team - HEDSPI K58</a>
    by <a href="http://www.facebook.com/do.x.tho.9/">Do Xuan Tho</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      
  </nav>
</footer>